:root{
    --Light-red: hsl(356, 100%, 66%);
    --Very-light-red: hsl(355, 100%, 74%);
    --Very-dark-blue: hsl(208, 49%, 24%);
    /*Text*/
    --White: hsl(0, 0%, 100%);
     /*Footer Text*/
    --Grayish-blue: hsl(240, 2%, 79%);
    --Very-dark-grayish-blue: hsl(207, 13%, 34%);
    --Very-dark-black-blue: hsl(240, 10%, 16%);
    /*Gradient*/
    --Very-light-red: hsl(13, 100%, 72%);
    --Light-red: hsl(353, 100%, 62%);
    /*Background gradient*/
   --Very-dark-gray-blue: hsl(237, 17%, 21%);
   --Very-dark-desaturated-blue: hsl(237, 23%, 32%);
}
body{
    font-family: 'Overpass', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.inner{
    max-width: 1366px;
    margin: 0 auto
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.header{
    width: 100%;
    padding: 50px 0px;
    background:  url(../images/bg-pattern-intro.svg),linear-gradient(to right,var(--Very-light-red),var(--Light-red));
    background-position-x: 25%;
    background-position-y: 51%;
    background-repeat: no-repeat;
    border-bottom-left-radius: 100px;
}

.navigation{
    padding: 0px 100px;
    justify-content: space-between;
    align-items: center;
}
.logo-section{
    justify-content: space-between;
}
.logo-section .fa{
    font-size: 1.5rem;
    color: var(--White);
    display: none;
}
.links-section{
    flex-basis: 80%;
    justify-content: space-between;
}
.links{
    flex-basis: 35%;
    justify-content: space-between;
}
.links a{
    text-decoration: none;
    color: var(--White);
    font-size: .9rem;
    font-family: 'Ubuntu',sans-serif;
    transition: 250ms;
    display: inline-block;
    margin-top: 10px;
}
ul{
    list-style-type: none;
}
.submenu{
    background-color: white;
    padding: 10px 15px;
    text-align: center;
    margin-top: 10px;
    display: none;
}
.submenu a{
    color: var(--Very-dark-blue);
    transition: 250ms;
}
.submenu a:hover{
    font-weight: 700;
}
.links a:hover{
    border-bottom: 1px solid var(--White);
}

.login-section{
    flex-basis: 20%;
    justify-content: space-between;
}
.links-section .login-button{
    text-decoration: none;
    color: var(--White);
    font-family: 'Ubuntu',sans-serif;
    font-size: .9rem;
    margin-top: 10px;
    display: inline-block;
}
.btn{
    color: var(--Light-red);
    font-weight: 700;
    text-decoration: none;
    background-color: var(--White);
    padding: 10px 15px;
    border-radius: 50px;
    transition: 250ms;
    display: inline-block;
    font-size: .9rem;
    height: 38px;
    font-family: 'Ubuntu',sans-serif;
}
.btn:hover{
    background-color: var(--Very-light-red);
    color: var(--White);   
}

.banner{
    width: 100%;
    padding: 200px 100px 0px 100px;
    text-align: center;
}
.banner h1{
    color: var(--White);
    font-size: 3rem;
}
.banner p{
    color: var(--White);
    font-weight: 400;
    font-size: .9rem;
    margin: 15px 0px;
}
.white{
    background: transparent;
    border: 1px solid var(--White);
    color: var(--White);
    margin-left: 10px;
}
.white:hover{
    color: var(--Light-red);
    background-color:var(--White);
}
.future{
    background-color: var(--White);
    padding: 100px 0px 0px 0px;
    overflow: hidden;
}
.future h1{
    text-align: center;
    color:var(--Very-dark-blue);
    font-weight: 700;
}
.future-content{
    padding: 50px 0px 0px 100px;
    justify-content: space-between;
}
.left{
    flex-basis: 35%;
}
.left h3,.right-lap h3{
    color: var(--Very-dark-blue);
    font-size: 1.4rem;
    margin-bottom: 20px;
}
.left p,.right-lap p{
    color: var(--Grayish-blue);
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
}
.right{
    flex-basis:60%;
}
.right img{
    width: 108%;
    position: relative;
    top: -200px;
    left: 165px;
}

.mobile{
    background-color: var(--Very-dark-blue);
    border-bottom-left-radius: 70px;
    border-top-right-radius: 70px;
}
.two-box{
    justify-content: space-between;
    
}
.left-box{
    flex-basis: 45%;
    background-image: url(../images/bg-pattern-circles.svg);
    background-size: 100%;
    background-position-x: -23px;
    background-position-y: -262px;
    background-repeat: no-repeat;
}
.left-box img{
    width: 90%;
    position: relative;
    left: 135px;
    top: -72px;
}
.right-box{
   flex-basis: 45%;
   margin-top: 120px;
}
.right-box h1{
    color: var(--White);
}
.right-box p{
    color: var(--Grayish-blue);
    line-height: 2rem;
}
.Laptop{
    padding: 100px 0px 0px 0px;
}
.laptop-content{
    padding: 150px 100px 0px 0px;
    justify-content: space-between;
}
.left-image-box{
    flex-basis: 60%;
}
.left-image-box img{
    width: 130%;
    position: relative;
    top: -215px;
    left: -273px;
}
.right-lap{
    flex-basis: 35%;
}
footer{
    background: linear-gradient(to right, var(--Very-dark-gray-blue),var(--Very-dark-desaturated-blue));
    height: 100px;
    padding: 100px 0px;
    border-top-right-radius: 70px;
    text-align: center;
}
.footer a span{
    color: var(--Light-red);
    font-size: 1.3rem;
    padding: 0px 10px;
    transition: 250ms;
}
.footer a span:hover{
    color: var(--Very-light-red);
}
.footer p{
    color: var(--Light-red);
    margin-top: 20px;
    font-weight: 500;
}
.footer p span{
    font-weight: 700;
}

@media only screen and (max-width:1100px){
    .future-content{
        padding: 50px 0px 0px 30px;
        justify-content: space-between;
    }
    .logo-section{
        flex-basis: 100%;
        justify-content: space-between
    }
    
    .logo-section a{
        text-decoration: none;
    }
    .logo-section .fa{
        display: block;
    }
    .links-section{
        flex-basis: 100%;
        margin-top: 10px;
    }
    .login-section{
        flex-basis: 100%;
        margin-top: 10px;
    }

    .right img{
        top: -168px;
        left: 128px;
    }
    
}
@media only screen and (max-width:1000px){
    .left{
        flex-basis: 100%;
    }
    .right{
        flex-basis:100%;
        text-align: center;
        margin-bottom: 100px;
    }
    .right img{
        width: 80%; 
        top: 50px;
        left: 0px;
    }
    .mobile{
        padding-bottom: 30px;
    }
    .left-box{
        flex-basis: 100%;
        background-position-x: 0px;
        background-position-y: 0px;
        text-align: center;
    }
    .left-box img{
        width: 70%;
        position: relative;
        left: 0px;
        top: -50px;
    }
    .right-box{
       flex-basis: 100%;
       margin-top: 50px;
       padding: 0px 20px;
    }
    .Laptop{
       padding-top: 30px;
    }
    .laptop-content{
        padding: 30px 0px 0px 0px;
    }
    .left-image-box{
        flex-basis: 100%;
        text-align: center;
    }
    .left-image-box img{
        width: 80%;
        position: relative;
        top: 0px;
        left: 0px;
    }
    .right-lap{
        flex-basis: 100%;
        padding: 30px;
    }
}
@media only screen and (max-width:900px){
    .navigation{
        padding: 0px 30px;
    }
    .logo-section img{
        width: 70%;
    }
    .links-section{
        flex-basis: 100%;
        text-align: center;
        text-align: center; 
    }
    .links{
        flex-basis: 100%;
        flex-direction: column;
    }
    .links a{
        padding: 10px 0px;
    }
    .links a:hover{
        border-bottom: none;
    }
    .login-section{
        flex-direction: column;
        text-align: center;
    }
    .login-section a{
        padding: 10px 0px;
    }
    .future-content{
        padding: 50px 0px 0px 30px;
    }
}
@media only screen and (max-width:768px){
    .banner{
        padding: 30px;
    }
    .banner h1{
        color: var(--White);
        font-size: 1.5rem;
    }
    .future h1{
        font-size: 1.8rem;
    }
}
@media only screen and (max-width:309px){
    .banner{
        padding: 30px;
    }
    .banner .btn{
        margin-top: 10px;
    }
    
}
